<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- KissLog ApiKey -->
    <add key="KissLog.OrganizationId" value="33da819d-1138-4106-b4b5-df3fcfefad19" />
    <add key="KissLog.ApplicationId" value="cf52b7cc-6ae5-4bac-aacc-2d23185b4642" />
    <add key="KissLog.ApiUrl" value="http://localhost:53335" />
    <!-- /KissLog -->
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>