<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- KissLog ApiKey -->
      <add key="KissLog.OrganizationId" value="f13ca89d-94ba-4265-b8f1-8fb1bf8fe0ee" />
      <add key="KissLog.ApplicationId" value="8d6c5f98-4139-4590-920d-e0c54543782d" />
      <add key="KissLog.ApiUrl" value="http://localhost:53335" />
      <!-- /KissLog -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>