<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- KissLog ApiKey -->
      <add key="KissLog.OrganizationId" value="0337cd29-a56e-42c1-a48a-e900f3116aa8" />
      <add key="KissLog.ApplicationId" value="b1d65503-fc9d-4d3d-9f37-3c8be9fcb450" />
      <add key="KissLog.ApiUrl" value="https://api.kisslog.net" />
      <!-- /KissLog -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>