@model NLog_AspNet_MVC.Models.IndexViewModel
@{
    ViewBag.Title = "NLog";
}

<div>
    <p>This ASP.NET MVC application is using NLog to save the logs on:</p>

    <ol>
        <li class="mb-3">
            Local text files: <br />
            @Model.LocalTextFilesPath
        </li>
        <li>
            KissLog.net: <br />
            <a href="@Model.KissLogRequestLogsUrl" target="_blank">@Model.KissLogRequestLogsUrl</a>
        </li>
    </ol>
</div>

@section css {
    <style>
        .body-content { padding-top: 60px; }
        ol > li { margin-bottom: 20px; }
    </style>
}