body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

ol.list > li {
    margin-bottom: 20px;
}

pre.prettyprint.linenums > ol { padding-left: 5px; }
pre.prettyprint.linenums li { list-style-type: none; }
pre.prettyprint.linenums li.highlighted { background-color: #ffc; }

ol.installInstructions {
    padding-left: 1.5rem;
}

ol.installInstructions > li {
    list-style-type: none;
    margin-bottom: 1.5rem;
    position: relative;
    counter-increment: li;
}

ol.installInstructions > li .minWidth {
    min-width: 50%;
}

ol.installInstructions > li .prettyprint {
    margin: 0;
}

ol.installInstructions > li:before {
    content: counter(li);
    position: absolute;
    left: -2rem;
    width: 2rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.codeBlock {
    font-family: Consolas,'andale mono','lucida console',monospace;
    background-color: #e6e7e8;
    border: 1px solid #cccedb;
    max-width: 600px;
}

.codeBlock > div {
    padding: 5px 6px;
    line-height: 1rem;
}

.codeBlock:before {
    content: "Example";
    background-color: #eeeef2;
    display: block;
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    font-size: 85%;
    padding: 3px 6px;
}

.codeBlock.packageManagerConsole:before {
    content: "Package Manager Console";
}

