body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

ol.list > li {
    margin-bottom: 20px;
}

pre.prettyprint.linenums > ol { padding-left: 5px; }
pre.prettyprint.linenums li { list-style-type: none; }
pre.prettyprint.linenums li.highlighted { background-color: #ffc; }


